<html>

<head>
    <title>Home</title>
</head>

<body>
    <center>
        {{> header}}
        <h1> welcome {{user}}</h1>
        <p>{{screamIt "welcome to my site"}}</p>
    </center>
    <table>
        <tr>
            <th>Likes</th>
        </tr>
        <tr>
            <td>{{like1}}</td>
        </tr>
        <tr>
            <td>{{like2}}</td>
        </tr>
    </table>
    {{> footer }}
</body>

</html>