<html>

<head>
    <title>Home</title>
</head>

<body>
    <center>
        {{!-- {{> header}} --}}
        <h1> welcome {{user}}</h1>
        <p style="float: left;margin-left:8em">{{screamIt "The is the page for for upcoming project !!"}}</p>
        <p>
            <a href="/">Home</a>
        </p>
    </center>
    {{> footer }}
</body>

</html>